*{
    font-family: "Bubbler One", sans-serif;
    font-size: 23px;
}

h1,h2,h3,h4{
    font-family: "Young Serif", serif;
}

:root{
    --viola:rgb(65, 0, 38);
    --arancione:rgb(255, 72, 0);
    --verde:rgb(0, 145, 150);
}

.txt-viola{
    color: var(--viola);
}

.txt-arancione{
    color: var(--arancione);
}

.txt-verde{
    color: var(--verde);
}

.bg-viola{
    background-color: var(--viola);
}

.bg-arancione{
    background-color: var(--arancione);
}

.bg-verde{
    background-color: var(--verde);
}

.nav-personale{
    height: 80px;
    width: 100%;
    background-image: url(./media/Risorsa\ 6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 99;
}

.cerca-dimensione{
    height: 30px;

}

.logo-navbar{
    height: 25px;
}

.img-carousel{
    height: 100px;
    width: 100%;
    background-image: url(./media/Risorsa\ 1.jpg);

}

.slide1{
    height: 100vh;
    width: 100%;
    background-image: url(./media/Risorsa\ 1\ -\ Copia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide2{
    height: 100vh;
    width: 100%;
    background-image: url(./media/Risorsa\ 2\ -\ Copia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide3{
    height: 100vh;
    width: 100%;
    background-image: url(./media/Risorsa\ 3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    margin-top: 80px;
}

.paragrafo1{
    height: 100vh;
}